<header class="site-header">

  <div class="wrapper">

  <a class="site-title" href="{{ site.baseurl }}/">
<img src="https://1.downloader.disk.yandex.ru/disk/4739eb82f851b9f9f5e8f89062f9be8324ada86abf4ee0174cbbbbbbb6396678/578abb70/fKqInKw3d7bLFOeFnMGnhPV2lcfHlPoN_sESSI4WPvtVVOSZftIlIMH1EGXSQLJ2YsQcydSe_513QSFuzRwDl1wZHXIsp4ETfV5G_m8rlf6r8npumZHI4midPdWhecNq?uid=0&filename=thinker.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&fsize=7074&hid=9544da2e4cb25c6af749837b64dd9e6c&media_type=image&tknv=v2&etag=d05507cb048822d7c0fd26e551ea8118" class="title-logo">
  </a>
    

    <a class="site-title site-header-title" href="{{ site.baseurl }}/">
    Размышления программиста</a>

    <nav class="site-nav">
            <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
