<header class="site-header">

  <div class="wrapper">

  <a class="site-title" href="{{ site.baseurl }}/">
<img src="https://4.downloader.disk.yandex.ru/preview/7713971ce3bb98791ffcbcd3dfbfa3c8aac8f557a9890e6ce598c9be22da840f/inf/fKqInKw3d7bLFOeFnMGnhAFyXvdDLuNSndHhjPyHgJ80VK77qzfDUPaof5O0MAi_vozNaryFIjVHpcfvMjfOJ9TQPvtOj0vzKre1f3GfyZOr8npumZHI4midPdWhecNq?uid=0&filename=thinker.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&tknv=v2&size=XXL&crop=0" class="title-logo">
  </a>

    <a class="site-title site-header-title" href="{{ site.baseurl }}/">
    Размышления программиста</a>

    <div style="float:right; width: 490px; margin-top:130px">
      <span class="blog-description">Блог о разработке ПО, а также всем остальном, что меня интересует</span>
    </div>
    <nav class="site-nav">
            <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
