<div class="left-panel-content">
    <img src="/images/progman.png"></img>
    <div class="left-gradient">

    </div>
    <div class="blog-header-block">
        <p><a href="{{ site.baseurl }}/">Размышления программиста</a></p>
    </div>
    <div class="blog-left-subscribe">
        <p>Подписаться&nbsp;<a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></p>
    </div>
    <button class="left-panel-collapse-btn fa fa-arrow-right" id="collapseLeftPanel">
    </button>

    <a href="mailto:r@kamenskiy.net" class="social-link a-fa-envelope-o non-decor">
    	<i class="fa fa-envelope-o social-icon"></i>
    	<span class="social-detail">r@kamenskiy.net</span>
    </a>
    <a href="https://github.com/r-kamenskiy" class="social-link a-fa-github non-decor" >
    	<i class="fa fa-github social-icon"></i>
    	<span class="social-detail">r_kamenskiy</span>
    </a>
    <a href="https://twitter.com/r_kamenskiy" class="social-link a-fa-twitter non-decor">
    	<span class="fa fa-twitter social-icon"></span>
    	<span class="social-detail">r-kamenskiy</span>
    </a>
    <p class="copyright">Копирование представленных на данном сайте материалов разрешено с указанием ссылки на оригинал. &copy; 2016 Размышления программиста</p>
</div>

