<div class="right-panel-content">
	<div class="right-panel-back">
		<div class="right-gradient">
		</div>
	</div>
	<div class="blog-right-new-posts-header">
		<p>Новые&nbsp;посты</p>
	</div>
	<div class="blog-right-new-posts">
		<ul>
		{% for post in site.posts %}
			<li>
				<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
				<span class="right-post-date">{{ post.date | date: "%b %-d %Y" }}</span>
			</li>
		{% endfor %}
		</ul>
	</div>
	<div class="blog-right-subscribe">
		<p>Подписаться&nbsp;<a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></p>
	</div>
</div>