<div class="right-panel-content">
	<div class="right-panel-back">
		<div class="right-gradient">
		</div>
	</div>
	<div class="blog-right-new-posts-header">
		<p>Новые&nbsp;посты</p>
	</div>
	<div class="blog-right-new-posts">
		<ul>
			<li>
				<a href="#">Serverless приложение на Azure</a>
				<span class="right-post-date">Jul 23, 2016</span>
			</li>
			<li>
				<a href="#">Serverless приложение на Azure</a>
				<span class="right-post-date">Jul 23, 2016</span>
			</li>
			<li>
				<a href="#">Serverless приложение на Azure</a>
				<span class="right-post-date">Jul 23, 2016</span>
			</li>
			<li>
				<a href="#">Serverless приложение на Azure</a>
				<span class="right-post-date">Jul 23, 2016</span>
			</li>
			<li>
				<a href="#">Serverless приложение на Azure</a>
				<span class="right-post-date">Jul 23, 2016</span>
			</li>
		</ul>
	</div>
	<div class="blog-right-subscribe">
		<p>Подписаться&nbsp;<a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></p>
	</div>
</div>